<div class="global-view">
    <div class="chart">
        <span class="title">Número de publicações por ano</span>
        <ngx-charts-line-chart
            [view]="view"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [xAxisLabel]="yearLabel"
            [yAxisLabel]="articleLabel"
            [timeline]="timeline"
            [results]="articlesPerYearView"
            [scheme]="colorScheme"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"/>
    </div>
    <div class="chart space">
        <span class="title">Número de publicações por autores</span>
        <ngx-charts-bar-horizontal-2d
            [view]="view"
            [results]="authorsPerArticle"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="articleLabel"
            [yAxisLabel]="authorLabel"
            [scheme]="colorScheme"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"/>
    </div>
    <div class="chart space-max">
        <span class="title">Número de publicações por revista</span>
        <ngx-charts-bar-horizontal-2d
            [view]="view"
            [results]="sourcesPerArticle"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="articleLabel"
            [yAxisLabel]="sourceLabel"
            [scheme]="colorScheme"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"/>
    </div>
    <div class="chart space-max">
        <span class="title">Número de publicações por palavras chaves</span>
        <ngx-charts-pie-chart
            [view]="view"
            [results]="keywordsPerArticle"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
            [scheme]="colorScheme"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"/>
    </div>
    <div class="chart space-max">
        <span class="title">Distribuição das principais palavras chaves por ano e publicação</span>
        <ngx-charts-line-chart
            [view]="view"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [xAxisLabel]="yearLabel"
            [yAxisLabel]="articleLabel"
            [timeline]="timeline"
            [results]="keywordsPerYearPerArticle"
            [scheme]="colorScheme"
            [legend]="legend"
            [legendTitle]="keywordsLabel"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"/>
    </div>
    <div class="chart space-max">
        <span class="title">Distribuição dos principais autores por palavras chaves e publicação</span>
        <ngx-charts-bar-vertical-stacked
            [view]="view"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [xAxisLabel]="keywordsLabel"
            [yAxisLabel]="articleLabel"
            [results]="authorsPerKeywordsPerArticle"
            [scheme]="colorScheme"
            [legend]="legend"
            [legendTitle]="authorLabel"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"/>
    </div>
</div>