<div class="search-page">
    <form class="search-form">
        <mat-form-field class="form-field">
            <input type="text" matInput [formControl]="searchFormControl" placeholder="Ex.: Clima">
        </mat-form-field>
        <button class="search-button" mat-raised-button (click)="doSearch()">
            Pequisar</button>
    </form>
    <div class="result-list">
        @if (articles && articles.length > 0) {
            @for (article of articles; track $index) {
                <app-article-card class="list-card" [article]="article" />
            }
        } @else if (searchFormControl.value == undefined || searchFormControl.value == '') {
            <span class="result-message">Faça sua busca!</span>
        } @else {
            <span class="result-message">Nada encontrado para o termo!</span>
        }    
    </div>
</div>